.user {
    margin: 10px 10px;
}

.title {
text-align: center;
}

.blockRepos {
    margin-top: 60px;
    margin-bottom: 88px;
}

.repo-number {
    margin-right: 20px;
    font-weight: bold;
}

.user-name {
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
}